.staff-list-item {
    margin-top: 25px;
}

img.staff-img {
    vertical-align: none;
    display: inline-block;
    max-width: 30%;
}

.staff-text {
    vertical-align: top;
    display: inline-block;
    margin: 10px 15px;
    max-width: 70%;
}

.staff-title {
    margin: 0;
    color: #777;
}

.staff-name {
    margin: 0;
    text-transform: uppercase;
}

.staff-bio {
    margin-top: 10px;
    font-weight: 400;
}
